<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>This is the more awesome chat you'll ever see</p>
  <br>
  <p>I strongly don't recommend use this app to produccion environment</p>
</ion-content>
