<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-around>
      <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3  align-self-center>
        <form [formGroup]="loginData" (ngSubmit)="login()"  *ngIf="!showRoleSelection">
          <ion-item>
            <ion-label floating>{{ 'label.email' }}:</ion-label>
            <ion-input type="email" formControlName="email" value="federico@yourdomain.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{ 'label.password' }}:</ion-label>
            
            <ion-input type="password" formControlName="password" value="fede0000"></ion-input>            
          </ion-item>

          <button margin-top ion-button type="submit" [disabled]="!loginData.valid">{{ 'button.login' }}</button>

        </form>
    
        <ion-row padding-top>
          <ion-col>
            <button ion-button clear block (click)="openPage('RegisterPage')">{{ 'button.new_registration' }}</button>
          </ion-col>
          <ion-col>
            <button ion-button clear block (click)="openPage('ForgotPage')">{{ 'button.forgotten_password' }}</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>    
  </ion-grid>

</ion-content>
