<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>       
        <ion-title>{{ 'page.register' }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row justify-content-around>
            <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3  align-self-center>
                <form [formGroup]="regData" (ngSubmit)="register()">

                    <ion-item>
                        <ion-label floating>{{ 'label.name' }}:</ion-label>
                        <ion-input type="text" formControlName="name" value="federico"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>{{ 'label.email' }}:</ion-label>
                        <ion-input type="email" formControlName="email" value="federico@yourdomain.com"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>{{ 'label.password' }}:</ion-label>
                        <ion-input type="password" formControlName="password" value="fede0000"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>{{ 'label.password_confirmation' }}:</ion-label>
                        <ion-input type="password" formControlName="password_confirmation" value="fede0000"></ion-input>
                    </ion-item>

                    <button margin-top ion-button type="submit" [disabled]="!regData.valid">{{ 'button.register' }}</button>

                </form>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>