<ion-tabs selectedIndex="3">
  <ion-tab class="menu" [root]="tab1Root" tabTitle="Chat" tabIcon="home"></ion-tab>
  <ion-tab class="menu" [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab class="menu" [root]="tab3Root" tabTitle="Contacts" tabIcon="contacts"></ion-tab>
  <ion-tab class="menu" [root]="tab4Root" tabTitle="Account" tabIcon="settings"></ion-tab>
</ion-tabs>